@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

/* global btn css start  */
.primary_btn {
    background-color: #3b8a19;
    color: white;
    border: none;
    border-radius: 1.5rem;
    /* font-weight: 400 !important; */

    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.primary_btn:hover {
    background-color: #388019;
    /* outline: 2px solid green; */
    /* box-shadow: 0.2rem 0.2rem rgb(7, 58, 7); */
}

/* global btn css end */